{
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "always",
  "svelteBracketNewLine": false
}

